<ul data-role="listview" data-icon="false" data-split-theme="d"
	id='listView'>
	<!--------------개별 리스트------------------------>
	{{#each boards}}
	<li class='data-row'><a href='#' data-no="{{no}}"
		data-transition="flow">
			<div class="blist">
				<img src="../image/iphone.jpg" width="50" height="50"> <span
					class='mask'></span>
			</div>
			<p>
				<strong class="btitle"> {{title}}</strong> <br> <span
					class="info"> <span class="ty">{{userName}} |</span> <span
					class="tcr">{{date}} |</span> <span class="tcr">조회 {{count}}
						|</span> <span class="tcr">추천수 {{recommend}} </span>
				</span>
			</p>
	</a>
	<span class="ui-li-count countRect" data-theme="d" 
	style="color: #cd1d1d;">{{rcount}}</span>

		</li> {{/each}}
</ul>

