<div id="title" class="ui-bar ui-bar-d">
	<p>{{title}}</p>
</div>
<div id="ddd">
	<div id="id" class="ui-bar ui-bar-d">
		<p>{{userName}}</p>
	</div>

	<div class="ui-grid-b">
		<div class="ui-block-a">
			<div class="ui-bar ui-bar-d">
				<p>날짜: <span id='dateFormat'></span></p>
			</div>
		</div>

		<div class="ui-block-b">
			<div class="ui-bar ui-bar-d">
				<p>조회수 : {{count}}</p>
			</div>
		</div>

		<div class="ui-block-c">
			<div class="ui-bar ui-bar-d">
				<p>추천수 : <span id='originReco'>{{recommend}}</span>
				<span id='updateReco'></span>
				</p>
			</div>
		</div>
	</div>
</div>

<div id='contents'>
	<p>{{content}}</p>
</div>
