<div id="titleSection">
	<div>
		<h3 id='title'>{{board.title}}</h3>
	</div>
	<div id="detailSection">
		<p>
			{{board.userName}} | 날짜: <span id='dateFormat'></span> | 조회수 : {{board.count}} |
			추천수 : <span id='originReco'>{{board.recommend}}</span> <span
				id='updateReco'></span>
		</p>
		<a href="#" data-rel="back" class="listBtn"><span>목록</span></a> <a
			href="#" class="listBtn" id="anotherReplyBtn"><span>댓글</span><span
			id='rcountStyle'> {{board.rcount}}</span></a>
	</div>
</div>
</div>
</div>
<div id="article">
	{{#each photos}}	
	<img src = "../fileupload/{{url}}">
	{{/each}}
	<p>{{board.content}}</p>
</div>
